<footer class="footer" *ngIf="showFooter()">
  <div class="footer-top">
    <div class="footer-brand">
      <h3>AllAccessApp</h3>
      <p>Secure Cloud Storage for Everyone. Access your files from anywhere, anytime.</p>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <h4>Product</h4>
        <ul>
          <li><a routerLink="/features">Features</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>
          <li><a routerLink="/security">Security</a></li>
          <li><a routerLink="/updates">Updates</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Resources</h4>
        <ul>
          <li><a routerLink="/docs">Documentation</a></li>
          <li><a routerLink="/api">API Reference</a></li>
          <li><a routerLink="/tutorials">Tutorials</a></li>
          <li><a routerLink="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Company</h4>
        <ul>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/careers">Careers</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/partners">Partners</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Support</h4>
        <ul>
          <li><a routerLink="/help">Help Center</a></li>
          <li><a routerLink="/community">Community</a></li>
          <li><a routerLink="/status">Status</a></li>
          <li><a routerLink="/support">Contact Support</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copyright">
      &copy; 2025 AllAccessApp. All rights reserved.
    </div>
    <div class="social-links">
      <a href="https://twitter.com/allaccessapp" target="_blank">Twitter</a>
      <a href="https://linkedin.com/company/allaccessapp" target="_blank">LinkedIn</a>
      <a href="https://github.com/allaccessapp" target="_blank">GitHub</a>
      <a href="https://youtube.com/allaccessapp" target="_blank">YouTube</a>
    </div>
  </div>
</footer>